<div class="container">
    <table class="table">
        <thead>
        <tr>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>Precio</th>
            <th>Categoría</th>
            <th>Unidades Disponibles</th>
            <th>Imagen</th>
        </tr>
        </thead>
        <tbody>
        {{#each products}}
            <tr>
            <td>{{title}}</td>
            <td>{{description}}</td>
            <td>${{price}}</td>
            <td>{{category}}</td>
            <td>{{stock}} unidades</td>
            <th><img scr="{{thumbnails}}" alt="Imagen del producto"></img></th>
            </tr>
        {{/each}}
        </tbody>
    </table>
</div>